<summary><h3>Examples</h3></summary>
<div class="example">
	<code class="slim-code-span">
		import { SlimView } from "https://greergan.github.io/slim.view/index.ts";<br>
		const view:SlimView = new SlimView("https://greergan.github.io");<br>
		const html_view:string = await view.render({page:{title:"fun"}, site:{copyright:{started_date:"2023",by:"Your Name"}}}, "examples/helloworld.html");<br>
		console.log(html_view);
	</code>
	<code class="slim-code-span">
		deno run --allow-net -r FILE.ts<br>
		or<br>
		deno run --allow-net -r https://greergan.github.io/examples/helloworld.ts
	</code>
</div>