<summary><h3>Filters</h3></summary>
<div>
	<p class="description">Filter result sets using <a href="https://en.wikipedia.org/wiki/Polish_notation" target=_new_window>Polish Notation</a> style functions.</p>
    <p>Comparative functions</p>
	<blockquote class="outer">
		<p>equal(model:object, )</p>
		<blockquote><code></code></blockquote>
        <blockquote><code>&#123;%include%&#125;</code></blockquote>
		<p class="outputs"></p>
        <blockquote><code></code></blockquote>
    </blockquote>
    <p>Inclusion/Exclusion functions</p>
	<blockquote class="outer">
		<p>and()</p>
		<blockquote><code></code></blockquote>
        <blockquote><code>&#123;%include%&#125;</code></blockquote>
		<p class="outputs"></p>
        <blockquote><code></code></blockquote>

		<p>or()</p>
		<blockquote><code></code></blockquote>
		<p class="outputs"></p>
		<p>not()</p>
		<blockquote><code></code></blockquote>
		<p class="outputs"></p>
		<p>contains()</p>
		<blockquote><code></code></blockquote>
		<p class="outputs"></p>
	</blockquote>
</div>