<summary><h3>Includes</h3></summary>
<p class="description">Include view templates whithin any HTML document. The "view" tag can contain either relative or absolute URLs.
	The view namespace is prepended to each relative path.
</p>
<p>Include reusable &lt;head&gt; template which may also contain it's own include files or other reusable site definitions.
	This type of template inclusion can be used in each top level page of a website.</p>
<code class="slim-code-span">
	&lt;include view="includes/head.html"&gt;
</code>

<p>Include partial view templates. This is an arbitray concent. The following examples includes small,
	specific, html code based on the idea that a top level file will benefit from including smaller chunks of HTML code.
	The following "partials" are used to build the current page you are viewing.
</p>
<code class="slim-code-span">
	&lt;include view="partials/variable_substitution.html"&gt;<br>
	&lt;include view="partials/view_includes.html"&gt;
</code>
<p>Include standard document &lt;footer&gt;, bottom of page templates and closing of site level HTML objects.</p>
<code class="slim-code-span">
	&lt;include view="includes/foot.html"&gt;
</code>
