<summary><h3>Methods</h3></summary>
<div>
	<p class="description">Slim.View methods</p>
</div>
<code class="slim-code-span">
	<span>constructor</span>(namespace:string)
</code>
<code class="slim-code-span">
	private async <span>coalesce</span>(model:slim.types.iKeyValueAny, compiled_view:string):<span>Promise&lt;string&gt;</span>
</code>
<code class="slim-code-span">
	public async <span>compile</span>(url:string):<span>Promise&lt;string&gt;</span>
</code>
<code class="slim-code-span">
	public async <span>recompile</span>(url:string):<span>Promise&lt;void&gt;</span>
</code>
<code class="slim-code-span">
	public async <span>render</span>(model:slim.types.iKeyValueAny, url:string):<span>Promise&lt;string&gt;</span>
</code>
<code class="slim-code-span">
	private async <span>parseStatement</span>(model:slim.types.iKeyValueAny, statement:string):<span>Promise&lt;string&gt;</span>
</code>
<code class="slim-code-span">
	private async <span>processMatch</span>(model:slim.types.iKeyValueAny, statement_data:slim.types.iKeyValueAny):<span>Promise&lt;string&gt;</span>
</code>
