<summary><h3>Namespace</h3></summary>
<p class="description">A variable supplied when a new view is created. This variable is prepended to all relative paths found inside of include statements.</p>
<p>The "file" protocol.</p>
<blockquote class="outer">
	<blockquote><code>file:///path/to/website/root</code></blockquote>
</blockquote>
<p>The "http" protocol.</p>
<blockquote class="outer">
	<blockquote><code>http://greergan.github.io</code></blockquote>
</blockquote>
<p>The "https" protocol.</p>
<blockquote class="outer">
	<blockquote><code>https://greergan.github.io</code></blockquote>
</blockquote>