<p>partials include file</p>

<details class="slim-details"><include view="partials/slim.view/namespace.html"></details>
<details class="slim-details"><include view="partials/slim.view/methods.html"></details>
<details class="slim-details"><include view="partials/slim.view/variable_substitution.html"></details>
<details class="slim-details"><include view="partials/slim.view/includes.html"></details>
<details class="slim-details"><include view="partials/slim.view/statements.html"></details>
<details class="slim-details"><include view="partials/slim.view/filter.html"></details>
<details class="slim-details"><include view="partials/slim.view/comments.html"></details>
