<summary><h3>And/Or filters</h3></summary>
<code class="slim-code-span">
	<span>and</span><br><br>
	&#123;% foreach model="users" filter="<span>and</span>(<span>equal</span>(active, true), <span>equal</span>(age, 80))" view="partials/user.html" %&#125;
	<p class="outputs">
		{% foreach model="users" filter="and(equal(active, true), equal(age, 80))" view="partials/user.html" %}
	</p>
</code>
<code class="slim-code-span">
	<span>or</span><br><br>
	&#123;% foreach model="users" filter="<span>or</span>(<span>equal</span>(active, true), <span>equal</span>(age, 60))" view="partials/user.html" %&#125;
	<p class="outputs">
		{% foreach model="users" filter="or(equal(active, true), equal(age, 60))" view="partials/user.html" %}
	</p>
</code>
