<summary><h3>Number filters</h3></summary>
<code class="slim-code-span">
	<span>equal</span><br><br>
	&#123;&#123; foreach model="page.users" filter="<span>equal</span>(age, 60)" view="partials/user.html" &#125;&#125;
	<p class="outputs">
		{% foreach model="page.users" filter="equal(age, 60)" view="partials/user.html" %}
	</p>
</code>
<code class="slim-code-span">
	<span>not_equal</span><br><br>
	&#123;&#123; foreach model="page.users" filter="<span>not_equal</span>(age, 60)" view="partials/user.html" &#125;&#125;
	<p class="outputs">
		{% foreach model="page.users" filter="not_equal(age, 60)" view="partials/user.html" %}
	</p>
</code>
<code class="slim-code-span">
	<span>greater_than</span><br><br>
	&#123;&#123; foreach model="page.users" filter="<span>greater_than</span>(age, 60)" view="partials/user.html" &#125;&#125;
	<p class="outputs">
		{% foreach model="page.users" filter="greater_than(age, 60)" view="partials/user.html" %}
	</p>
</code>
<code class="slim-code-span">
	<span>greater_than_equal</span><br><br>
	&#123;&#123; foreach model="page.users" filter="<span>greater_than_equal</span>(age, 60)" view="partials/user.html" &#125;&#125;
	<p class="outputs">
		{% foreach model="page.users" filter="greater_than_equal(age, 60)" view="partials/user.html" %}
	</p>
</code>
<code class="slim-code-span">
	<span>less_than</span><br><br>
	&#123;&#123; foreach model="page.users" filter="<span>less_than</span>(age, 60)" view="partials/user.html" &#125;&#125;
	<p class="outputs">
		{% foreach model="page.users" filter="less_than(age, 60)" view="partials/user.html" %}
	</p>
</code>
<code class="slim-code-span">
	<span>less_than_equal</span><br><br>
	&#123;&#123; foreach model="page.users" filter="<span>less_than_equal</span>(age, 60)" view="partials/user.html" &#125;&#125;
	<p class="outputs">
		{% foreach model="page.users" filter="less_than_equal(age, 60)" view="partials/user.html" %}
	</p>
</code>
