<summary><h3>String filters</h3></summary>
<code class="slim-code-span">
	<span>equal</span><br><br>
	&#123;&#123; foreach model="<span>equal</span>(users, profession, musician)" view="partials/user.html" &#125;&#125;
	<p class="outputs">
		{% foreach model="equal(users, profession, musician)" view="partials/user.html" %}
	</p>
</code>
<code class="slim-code-span">
	<span>not_equal</span><br><br>
	&#123;&#123; foreach model="<span>not_equal</span>(users, profession, musician)" view="partials/user.html" &#125;&#125;
	<p class="outputs">
		{% foreach model="not_equal(users, profession, musician)" view="partials/user.html" %}
	</p>
</code>
<code class="slim-code-span">
	<span>greater_than</span><br><br>
	&#123;&#123; foreach model="<span>greater_than</span>(users, profession, musician)" view="partials/user.html" &#125;&#125;
	<p class="outputs">
		{% foreach model="greater_than(users, profession, musician)" view="partials/user.html" %}
	</p>
</code>
<code class="slim-code-span">
	<span>greater_than_equal</span><br><br>
	&#123;&#123; foreach model="<span>greater_than_equal</span>(users, profession, musician)" view="partials/user.html" &#125;&#125;
	<p class="outputs">
		{% foreach model="greater_than_equal(users, profession, musician)" view="partials/user.html" %}
	</p>
</code>
<code class="slim-code-span">
	<span>less_than</span><br><br>
	&#123;&#123; foreach model="<span>less_than</span>(users, profession, musician)" view="partials/user.html" &#125;&#125;
	<p class="outputs">
		{% foreach model="less_than(users, profession, musician)" view="partials/user.html" %}
	</p>
</code>
<code class="slim-code-span">
	<span>less_than_equal</span><br><br>
	&#123;&#123; foreach model="<span>less_than_equal</span>(users, profession, musician)" view="partials/user.html" &#125;&#125;
	<p class="outputs">
		{% foreach model="less_than_equal(users, profession, musician)" view="partials/user.html" %}
	</p>
</code>
